.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 500px;
}
.box{
    display: flex;
    flex-wrap: wrap;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
    border: 2px solid;
}

